<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finn posisjon</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/assets/images/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/assets/images/png/logo-graphic-512.png" />

    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")


</head>
<body>
    <div class="navbar navbar-gray z-2">
        <a class="sidenav-toggle hide-big"><i class="sidenav-toggle-logo fa fa-bars"></i></a>
        <a class="logo" href="/">
            <img src="~/Content/assets/images/kartverket-logo.png" alt="Kartverket logo">
            <span class="logo-text">Finn posisjon</span>
        </a>
        @*<ul class="main-menu hide-medium hide-small hide-xsmall pull-right">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>*@
        <span class="pull-right hide-medium hide-big"><span class="toggle-coordinates-input fa fa-search"></span></span>
    </div>
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
        <footer>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
